@import url('https://fonts.googleapis.com/css?family=Lato:100,400|Open+Sans');

body {
  background-color: rgba(105, 76, 51, 0.08);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.nav-header {
  font-size: 24px;
  margin-left: 40px;
  margin-top: 20px;
}

.navbar-nav {
  flex-direction: row;
  margin-left: 90px;
}

.nav-link {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 16px;
}

.active {
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(217, 144, 98, 1);
  text-decoration: none;
}

.bio {
  font-size: 17px;
  margin-left: 150px;
  margin-top: 170px;
  width: 40%;
}

.contact {
  margin-left: 150px;
  font-size: 15px;
}

.header {
  font-family: 'Open Sans', sans-serif;
  color: rgba(25, 24, 24, 0.33);
  margin-top: 10px;
}

.email {
  margin-top: -18px;
}

.profile-img {
  background-image: url("profile-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 0.5px;
  height: 375px;
  width: 375px;
  margin-left: 730px;
  margin-top: -270px;
}

.publications {
  margin-left: 250px;
  margin-top: 70px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(25, 24, 24, 0.33);
  font-size: 14px;
}

hr {
  margin-left: 0px;
}
